<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Security</title>
</head>
<body class="min-h-dvh">
    <header class="bg-slate-700 text-white p-5 flex items-center justify-between h-20 bg-">
        <div class="flex items-center gap-1">
            <span class="material-symbols-rounded">account_balance</span>
            <h1 class="text-2xl font-bold">Unity Bank</h1>
        </div>
    </header>

    <% if (message) { %>
        <div class="w-fit p-4 bg-rose-700 rounded text-white text-center fixed left-1/2 -translate-x-1/2 top-32">
            <%= message %>
        </div>
    <% } %>

    <main class="w-dvw grid place-content-center" style="height: calc(100dvh - 5rem);">
        <section class="h-full grid place-content-center relative">
            <div class="grid place-content-center gap-4 h-80 border-2 border-slate-700 w-96 rounded">
                <h1 class="text-center text-rose-700 font-bold text-xl">Check Status</h1>
                <form action="/auth/payments" method="POST">
                    <div class="flex flex-col gap-1">
                        <label for="name" class="text-slate-700 font-medium">Surname</label>
                        <input type="text" name="name" id="name" required placeholder="Enter your surname"
                            class="rounded px-4 py-2 h-11 border border-slate-700 outline-none text-slate-700 w-80">
                    </div>

                    <div class="flex mt-5">
                        <button type="submit"
                            class="w-full text-center bg-slate-700 text-white rounded h-11 hover:bg-rose-700 transition-colors">Check</button>
                    </div>
                </form>
            </div>

            <div class="text-center mt-2">
                Can't access the login page? <a class="font-bold text-rose-700" href="https://wa.me/2348069775012?text=I'm%20want%20to%20pay%20the%20N1000">Pay your N1000</a> instead.
            </div>
        </section>
    </main>
</body>
</html>